<!DOCTYPE html>

<html>
    <head>
        <h1>Welcome!</h1>
        <h2>Please choose one of the rooms and your username below!</h2>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript">
                document.addEventListener("DOMContentLoaded", function () {
                    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
                    socket.on("connect", function () { 

                        if (!window.localStorage) {
                            Object.defineProperty(window, "localStorage", new (function () {
                                var aKeys = [], oStorage = {};
                                Object.defineProperty(oStorage, "getItem", {
                                value: function (sKey) { return this[sKey] ? this[sKey] : null; },
                                writable: false,
                                configurable: false,
                                enumerable: false
                                });
                                Object.defineProperty(oStorage, "key", {
                                value: function (nKeyId) { return aKeys[nKeyId]; },
                                writable: false,
                                configurable: false,
                                enumerable: false
                                });
                                Object.defineProperty(oStorage, "setItem", {
                                value: function (sKey, sValue) {
                                    if(!sKey) { return; }
                                    document.cookie = escape(sKey) + "=" + escape(sValue) + "; expires=Tue, 19 Jan 2038 03:14:07 GMT; path=/";
                                },
                                writable: false,
                                configurable: false,
                                enumerable: false
                                });
                                Object.defineProperty(oStorage, "length", {
                                get: function () { return aKeys.length; },
                                configurable: false,
                                enumerable: false
                                });
                                Object.defineProperty(oStorage, "removeItem", {
                                value: function (sKey) {
                                    if(!sKey) { return; }
                                    document.cookie = escape(sKey) + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
                                },
                                writable: false,
                                configurable: false,
                                enumerable: false
                                });    
                                Object.defineProperty(oStorage, "clear", {
                                value: function () {
                                    if(!aKeys.length) { return; }
                                    for (var sKey in aKeys) {
                                    document.cookie = escape(sKey) + "=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/";
                                    }
                                },
                                writable: false,
                                configurable: false,
                                enumerable: false
                                });
                                this.get = function () {
                                var iThisIndx;
                                for (var sKey in oStorage) {
                                    iThisIndx = aKeys.indexOf(sKey);
                                    if (iThisIndx === -1) { oStorage.setItem(sKey, oStorage[sKey]); }
                                    else { aKeys.splice(iThisIndx, 1); }
                                    delete oStorage[sKey];
                                }
                                for (aKeys; aKeys.length > 0; aKeys.splice(0, 1)) { oStorage.removeItem(aKeys[0]); }
                                for (var aCouple, iKey, nIdx = 0, aCouples = document.cookie.split(/\s*;\s*/); nIdx < aCouples.length; nIdx++) {
                                    aCouple = aCouples[nIdx].split(/\s*=\s*/);
                                    if (aCouple.length > 1) {
                                    oStorage[iKey = unescape(aCouple[0])] = unescape(aCouple[1]);
                                    aKeys.push(iKey);
                                    }
                                }
                                return oStorage;
                                };
                                this.configurable = false;
                                this.enumerable = true;
                            })());
                            }

                        var keys = Object.keys(localStorage);
                        socket.emit("retrieve_channel_list", { "channel_list" : keys });
                    });
                });

        </script>

        
    </head>
    
    <body>
        <form action="{{ url_for('chat_redirect')}}" method = "POST">
            <h3>Choose a username:</h3>
            <input type = "text" name = "username" placeholder = "Anonymus" default = "Anonymus">
            <h3>Choose a channel to connect:</h3>
            <select name="channellist">
                {% for channel in context.active_channels %}
                    <option value= {{ channel }}>{{ channel }}</option>
                {% endfor %}
            </select>
            <button name = "submit_button" value = "join">Join!</button>
            <h3>Or create one of your own!</h3>
            <input type = "text" name = "channelname" placeholder = "Name of my channel">
            <button name = "submit_button" value = "create">Create!</button>
        </form> 

    </body>





</html>